<template>
  <div class="q-pa-md">
    <q-btn style="background: #ff0080; color: white" label="ADD" @click="isModal = true" />
  </div>

  <q-dialog v-model="isModal" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">title</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.title" autofocus />
      </q-card-section>

      <q-card-section>
        <div class="text-h6">subtitle</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.subtitle" autofocus />
      </q-card-section>

      <q-card-section>
        <div class="text-h6">address</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.address" autofocus />
      </q-card-section>

      <q-card-section>
        <div class="text-h6">avatar</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.avatar" autofocus />
      </q-card-section>

      <q-card-section>
        <div class="text-h6">country</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.country" autofocus />
      </q-card-section>

      <q-card-section>
        <div class="text-h6">score</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input dense v-model="user.score" autofocus type="number" />
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup />
        <q-btn flat label="Add" @click="onAdd" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import User from '@/models/user'
import { useUsersStore } from '@/stores/users'

const { addUser } = useUsersStore()

const user = ref(new User())
const isModal = ref(false)

function onAdd() {
  isModal.value = false
  addUser(user.value)
}
</script>
