<template>
  <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
    <q-select v-model="country" :options="countryList" label="Filter by country" />

    <q-select v-model="score" :options="scoreList" label="Filter by country" />

    <div>
      <q-btn label="Submit" type="submit" color="primary" />
      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
    </div>
  </q-form>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import type { userFilter } from '@/models/userFilter'

const emit = defineEmits<{
  (e: 'onFilterChange', filter: userFilter): void
}>()

const country = ref('')
const score = ref('')
const countryList = ['russia', 'usa']
const scoreList = ['> 20', '< 10']

function onSubmit() {
  emit('onFilterChange', {
    country: country.value,
    score: score.value
  })
}

function onReset() {
  country.value = ''
  score.value = ''
  onSubmit()
}
</script>
