<template>
  <q-list bordered separator v-if="users.length">
    <q-item v-for="item in users" v-ripple>
      <q-item-section avatar>
        <q-btn flat>
          <q-menu>
            <q-list style="min-width: 100px">
              <q-item v-close-popup>
                <q-item-section>{{ item.address }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
          <img :src="item.avatar" />
        </q-btn>
      </q-item-section>
      <q-item-section>
        <q-item-label overline><span v-html="item.title"></span></q-item-label>
        <q-item-label><span v-html="item.subtitle"></span></q-item-label>
        <q-item-label caption>{{ item.score }}</q-item-label>
        <q-item-label caption>{{ item.country }}</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
  <div v-else>The list is empty</div>
</template>

<script setup lang="ts">
import User from '@/models/user'

defineProps<{
  users: User[]
}>()
</script>
