<template>
  <main>
    <div class="row justify-center">
      <div class="col-12">
        <UsersAdd />
      </div>
      <div class="col-12 col-md-6">
        <div class="q-pa-md q-mx-auto" style="max-width: 400px">
          <UsersFilter @on-filter-change="onFilterChange" />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="q-pa-md q-mx-auto" style="max-width: 400px">
          <q-spinner v-if="getLoading" color="primary" size="3em" />
          <UsersList v-else :users="getUsersFiltered" />
        </div>
      </div>
    </div>
  </main>
</template>

<script setup lang="ts">
import { onMounted, ref, computed } from 'vue'
import UsersFilter from '@/components/users/UsersFilter.vue'
import UsersList from '@/components/users/UsersList.vue'
import UsersAdd from '@/components/users/UsersAdd.vue'
import type { userFilter } from '@/models/userFilter'
import { useUsersStore } from '@/stores/users'
import { storeToRefs } from 'pinia'

const usersStore = useUsersStore()
const { getUsers, getLoading } = storeToRefs(usersStore)

const filters = ref<userFilter | null>(null)

const getUsersFiltered = computed(() => {
  if (!filters.value || (!filters.value.country && !filters.value.score)) return getUsers.value

  return getUsers.value.filter(
    (user) =>
      (!filters.value?.country || filters.value.country === user.country) &&
      (!filters.value?.score ||
        (filters.value?.score === '< 10' && user.score < 10) ||
        (filters.value?.score === '> 20' && user.score > 20))
  )
})

function onFilterChange(value: userFilter) {
  filters.value = value
}

onMounted(() => {
  usersStore.loadUsers()
})
</script>
